.App {
  text-align: center;
}

.App-header {
  background: linear-gradient(
  180deg, 
rgba(25,118,210,1) 96%, rgba(255,255,255,0) 100%);
  padding: 0.5em;
  color: white;
  margin-bottom: 0.5em;
}

.App-title {
  font-size: 1.5em;
}

.Description {
  height: 15.1em;
  width: 15.1em;
  color: #1976d2;
  text-align: left;
}

.Treats {
  height: 0.5em;
}
